
<nav class="navbar navbar-expand-lg  navbar-dark bg-dark ">

      <a navbar-brand href="#" class="brand_name" ><img src="../assets/logo_2.png">Return</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#mynav">
      <span class="navbar-toggler-icon"></span>
     </button>

      <div class="collapse navbar-collapse " id="mynav">

      <ul class="navbar-nav mr-auto left_item ">
         <li class="nav-item">
          <a class="nav-link active" href="#">SUPPORT</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" href="#">NOTICIFICATION</a>
        </li>
      </ul>

      <ul class="nav navbar-nav text-center">
        <li>
          <div class="searchbar " ><input class="search_input" type="text" name=""  placeholder="Search by Keywords..."  >
          <i class="fa fa-search"></i> </div>
        </li>
      </ul>
      <br>
      <ul  class="navbar-nav ml-auto">
        <li>
        <table>
         <tr>
            <td colspan="2" style="text-align: center;">
              <a  class="user_name" href="#">Hi Greg!</a>
            </td>
         </tr>

         <tr>
            <td>
            <a class="nav-link right_item" ><b>ACCOUNT </b></a>
          </td>
          <td>
            <a class="nav-link right_item" href="#" ><b>LOGOUT</b></a>
          </td>
          </tr>

        </table>
        </li>

        <li>
         <img src="../assets/contact.png" width="60" height="60" class="contact">
        </li>


      </ul>
      </div>



</nav>


 <div class="container">
  <div class="row">
  <div class="col-sm-4 mt-5 mx-auto">
  <form>
  <h1 class="h3 mb-3 font-weight-normal"><b>Customer Information</b></h1>
  <div class="form-group">
  <input type="text" name="title" placeholder=" Title(CTO, new biz manager, etc.)" class="input12">
  </div>
  <div class="form-group">
  <input type="text" name="function" placeholder=" Function(Technology, business development, etc.)" class="input12">
  </div>
  <div class="form-group">
      <textarea rows = "8" name = "issue" maxlength="250" class="textarea1"> Issue(250 characters)
       </textarea>
  </div>
  <div class="form-group" class="row">
    <div class="col-sm">
        <input type="text" name="issue_id" placeholder="Issue ID" class="table1"></div>
    <div class="col-sm">
        <input type="text" name="timestamp" placeholder="Timestamp" class="table1"></div>
      </div><br/>
   <div class="form-group" class="row">
          <div class="col-sm"><button type="submit" style="width:100%" class="btn btn-primary">Save</button></div>
          <div class="col-sm"> <button type="submit" style="width:100%" class="btn btn-primary">Save/Add New</button></div>
  </div>
  <br>
  <div>
      <button type="submit" class="btn btn-outline-primary" style="float: right;" (click)="continue_click()">Continue</button>
  </div>
  </form>
  </div>
  </div>
  </div>

