.brand_name{
font-size:50px;
color:white;
padding-right:40px;
}

.nav_left_item{
color:white;
font-size:15px;
font-weight:bold;
}

.searchbar{

    margin-bottom: auto;
    margin-top: 10px;
    height: 40px;
    width:300px;
    background-color: #C8C8C8;
    border-radius: 30px;
    padding: 10px;
 }

.search_input{
    color: black;
    border: 0;
    outline: 0;
    background: none;
    width: 10px;
    caret-color:transparent;
    transition: width 0.4s linear;
}

.search_input{
    padding: 0 10px;
    width: 250px;
    caret-color:red;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
}
.user_name{
color:white;
font-size:19px;

}
.nav_right_item{

color:white;
font-size:11.5px;
}

.input1{
  height:60px;
  width: 120%;
  border: 1px solid #3333ff;
  font-style: italic;
}
.input2{
  height:35px;
  width: 80%;
  border: 1px solid #3333ff;
  font-style: italic;
}
