
<nav class="navbar navbar-expand-lg  navbar-dark bg-dark ">

      <a navbar-brand href="#" class="brand_name" ><img src="../assets/logo_2.png">Return</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#mynav">
      <span class="navbar-toggler-icon"></span>
     </button>

      <div class="collapse navbar-collapse " id="mynav">

      <ul class="navbar-nav mr-auto left_item ">
         <li class="nav-item">
          <a class="nav-link active" href="#">SUPPORT</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" href="#">NOTICIFICATION</a>
        </li>
      </ul>

      <ul class="nav navbar-nav text-center">
        <li>
          <div class="searchbar " ><input class="search_input" type="text" name=""  placeholder="Search by Keywords..."  >
          <i class="fa fa-search"></i> </div>
        </li>
      </ul>
      <br>
      <ul  class="navbar-nav ml-auto">
        <li>
        <table>
         <tr>
            <td colspan="2" style="text-align: center;">
              <a  class="user_name" href="#">Hi Greg!</a>
            </td>
         </tr>

         <tr>
            <td>
            <a class="nav-link right_item" ><b>ACCOUNT </b></a>
          </td>
          <td>
            <a class="nav-link right_item" href="#" ><b>LOGOUT</b></a>
          </td>
          </tr>

        </table>
        </li>

        <li>
         <img src="../assets/contact.png" width="60" height="60" class="contact">
        </li>


      </ul>
      </div>



</nav>




<div class="container"><br><br>
  <div class="row">
    <div class="col-md-4 mt-5 mx-auto">
      <form>
        <h1 class="h3 mb-3 font-weight-normal"><b>New Opportunity</b></h1>
        <div class="form-group" >
          <input class="input1" type="text"  placeholder=" Opportunity Name">
        </div>
        <div class="form-group" >
          <input class="input2" type="text"  placeholder=" Opportunity ID" >
        </div>
        <div class="form-group" class="row">
          <div class="col-sm">
            <my-date-picker name="mydate" [options]="myDatePickerOptions" placeholder="Start date" [(ngModel)]="startDate" required></my-date-picker>
          </div>
          <div class="col-sm">
            <my-date-picker name="mydate" [options]="myDatePickerOptions" placeholder="End date" [(ngModel)]="endDate" required></my-date-picker></div>
          </div>
        <div class="col text-center">
          <br><button type="submit"  (click)="continue_click()"class="btn btn-primary">Countinue</button>
        </div>
      </form>
    </div>
  </div>
</div>
